* {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-size: 1.3em;
}

#header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0; 
    left: 0;
    background-color: rgb(134, 182, 127);
    width: 100%;  
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding: 10px 0 10px 0;
}

#header-img {
    height: 80px; 
    margin-right: 15px;  
}

#nav-bar {
    font-weight: bolder;
    font-family: monospace;
}

#nav-bar ul {
    display: flex;
    list-style: none;
    margin-top: 40px;
}

.nav-link {
    margin-right: 50px;
    text-decoration: none;
    color: black;
}

main {
    margin-top: 130px;  
}

.subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -102px;  
}

.subscription h1 {
    font-size: 36px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#email {
    padding: 5px;
    width: 100%;
    max-width: 284px;
}

#submit {
    margin-top: 20px;
    background-color: #86B67F;
    padding: 5px 10px;
    width: 100%;
    max-width: 284px;
    color: white;
    font-weight: 700;
}

#submit:hover, .product-select:hover, #nav-bar li:hover {
    animation-name: enlarge;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

a:focus {
    outline: 2px solid #d0c536;
    background-color: #6d6b50;
    color: white;
    padding: 5px 10px;
}

button:focus, input[type=submit]:focus {
    height: 30px;
    box-shadow: #86B67F 10px 10px 10px;
}

@keyframes enlarge {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.features {
    padding-top: 150px;
    margin-bottom: -100px;
}

.features-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0 20px 0;
}

.icon {
    width: 30%;
    display: flex;
    height: auto;
    justify-content: flex-end;
    /* border: solid black 1px; */
}

.icon img {
    height: 80px;
    padding-right: 10px;
}

.icon-text {
    width: 70%;
    /* border: solid black 1px;   */
    padding-left: 20px;
}


.description {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}


.pricing {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.product {
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    height: 300px;
    min-width: 240px;
}

.product-name {
    /* border: solid black 1px; */
    width: 100%;
    height: 20%;
    text-align: center;
    background-color: rgb(134, 182, 127);
}

.product-price {
    /* border: solid black 1px; */
    width: 100%;
    height: 10%;
    text-align: center;
}

.product-specification {
    /* border: solid black 1px; */
    width: 100%;
    height: 50%;
    padding-top: 15px;
}

.product-specification ul {
    list-style: none;
    text-align: center;
    padding: unset;
}

.product-select {
    /* border: solid black 1px; */
    height: 10%;
    margin-top: 5px;
    background-color: rgb(134, 182, 127);
    width: 100%;
    max-width: 85px;
    padding: 5px; 
}

#footer {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    align-items: flex-end;
    padding-bottom: 10px;   
}

#footer ul {
    list-style: none;
    display: flex; 
}

#footer li {
    margin-left: 15px;
}

#footer span {
    position: relative;
    bottom: 5px;
}

@media (max-width: 540px) {
    #header {
        display: block;
        position: fixed;
        z-index: 1;
    }

    .subscription h1 {
        text-align: center;
    }

    #main {
        display: block;
        transform: scale(0.9);
    }

    .subscription {
        margin-bottom: -200px;
    }

    .features {
        padding-top: 200px;
        margin-bottom: -250px;
    }

    .description {
        padding-top: 250px;
        margin-bottom: -250px;
    }

    .product {
        display: flex;
        margin: auto;
        margin-top: 35px;
    }

    #pricing {
        display: block;
        padding-top: 200px;
    }

    #footer {
        display: block;
        transform: scale(0.8);
        text-align: right;
        margin: auto;
    }
 }

@media (max-width: 420px) {
    #nav-bar ul {
        flex-direction: column;
        margin-top: 0;
    }
    #nav-bar li {
        margin-bottom: 5px;
    }
}

    
